table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 13px;
  width: 480px;
  text-align: left;
  border-collapse: collapse;
  /*border-spacing: 1;*/
}
* {
    font-family: "Proxima Nova Bold", "Segoe UI", Roboto, "Droid Sans", "Helvetica Neue", Arial, sans-serif;
}
th {
  font-style: oblique;
  color: rgb(0, 51, 153);
  font-size: 15px;
  background-color: rgb(185, 201, 254);
  padding: 8px;
  text-align: center;
}
table td {
  padding: 0.5em;
  vertical-align: top;
  background-color: rgb(232, 237, 255);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgb(255, 255, 255);
  color: rgb(102, 102, 153);
  padding: 9px;
}
table tbody tr:hover td {
  background-color: rgb(208, 218, 253);
}
.mark {
    color: #9400a3;
    font-size: 13px;
    font-style: oblique;
    font-weight: bold;
}
.mark:hover {
    color: green;
}
.name {
    font-weight: bold;
    color: #00008B;
}
.name:hover {
    color: #000000;
}
.rank {
    color: #9932CC;
}
